.review .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide span{
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 5rem;
    color: #ccc;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.review .slide .user .star{
    color: var(--green);
    font-size: 1.3rem;
}

.review .slide p{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}