.single{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    padding: 2rem 2rem;
}

.single.active{
    top: 0;
}

.single .btn{
    border-radius: 5rem;
}


.single .wrapper{
    background: #eee;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.single .wrapper .image{
    flex: 1 1 45rem;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 1rem;
}

.single .wrapper .image img{
    width: 100%;
    height: 100%;
}

.single .wrapper .details{
    flex: 1 1 45rem;
    width: 100%;
    height: 100%;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.single .wrapper span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: .5rem;
}

#close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 1.8rem;
    right: 1.8rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close:hover{
    background: var(--green);

}

.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing .badge, .pricing h3{
    padding: 1rem;
    background: #fff;
    color: var(--green);
    font-size: 2rem;
}

.single p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 2;
}

.badge{
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pricing h3{
    border-radius:30px 0 0 30px;
}


.disabled{
    min-width: 150px;
    background: #fff;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.disabled a{
    border-radius: 50%;
    color: var(--black);
    background: #eee;
    margin: .5rem;
    padding: 1rem;
}


.disabled h3{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.disabled a:hover{
    color: #eee;
    background: var(--green);
}